In [22]:
#import tools


import tabula
import pandas as pd

#Create dataframe 

file_path = r"C:\Users\lucab\Desktop\food-carbon-footprint-index-2018-nu3-en.pdf"
df = tabula.read_pdf(r"C:\Users\lucab\Desktop\food-carbon-footprint-index-2018-nu3-en.pdf", pages = "all", multiple_tables = True)
#df
#df = df.drop(
   # ["Animal Products"],
   #  axis = 0,
#)
#df
print(df)

[    Unnamed: 0 Unnamed: 1    Unnamed: 2  \
0          NaN        NaN           NaN
1          NaN        NaN           NaN
2          NaN        NaN           NaN
3          NaN        NaN  Supplied for
4          NaN        NaN           NaN
..         ...        ...           ...
109        102       Iran          0.00
110        103   Tanzania          0.32
111        104    Senegal          0.94
112        105       Peru          3.85
113        106  Nicaragua          3.38

                                 Unnamed: 3    Unnamed: 4  \
0    Difference between Animal Pork Poultry          Beef
1                                       NaN           NaN
2                                       NaN           NaN
3                              Supplied for  Supplied for
4                                        Kg            Kg
..                                      ...           ...
109                              0.00 25.38    27.26 3.58
110                               1.13 1.84     1.98 6.09
111                               3.33 4.62     4.96 5.85
112                             13.63 11.72    12.59 4.69
113                             11.96 21.31    22.89 4.73

               Animal Products    Unnamed: 5          Unnamed: 6  \
0             Lamb & Goat Fish          Eggs  Milk - inc. Cheese
1                          NaN           NaN                 NaN
2                          NaN           NaN                 NaN
3    Supplied for Supplied for  Supplied for        Supplied for
4                        Kg Kg            Kg                  Kg
..                         ...           ...                 ...
109    110.47 3.69 129.22 9.80    15.65 7.70    7.07 46.69 66.51
110     187.92 1.28 44.83 5.50     8.78 0.58    0.53 40.29 57.39
111   180.52 3.19 111.71 22.94    36.63 1.63    1.50 16.86 24.02
112    144.72 1.00 35.02 15.74    25.13 8.76    8.05 62.15 88.53
113      145.96 0.01 0.35 3.59     5.73 4.90   4.50 85.16 121.30

                 Unnamed: 7    Unnamed: 8 Non-Animal Products  \
0    Wheat & Wheat Products          Rice            Soybeans
1                       NaN           NaN                 NaN
2                  Total Kg           NaN                 NaN
3              Supplied for  Supplied for        Supplied for
4     Kg CO2/year/person Kg           NaN                  Kg
..                      ...           ...                 ...
109     356.18 153.31 29.24         29.95          38.33 0.00
110       302.56 15.94 3.04         21.01          26.89 0.04
111       362.67 37.32 7.12         72.29          92.51 0.00
112      327.67 56.12 10.70         48.92          62.60 1.59
113       312.69 28.17 5.37         43.33          55.45 0.01

                  Unnamed: 9                Unnamed: 10
0    Nuts inc. Peanut Butter                        NaN
1                        NaN  Products /person/year and
2                        NaN                   Total Kg
3               Supplied for        Non-Animal Products
4                      Kg Kg            CO2/year/person
..                       ...                        ...
109         0.00 12.16 21.52               89.09 267.09
110          0.02 5.94 10.51               40.46 262.10
111           0.00 4.03 7.13              106.76 255.91
112           0.72 0.65 1.15               75.17 252.50
113           0.00 2.36 4.18               65.00 247.69

[114 rows x 13 columns],     107       Vietnam  35.00  123.88  12.36  13.28  7.44  229.58  0.14   4.90  \
0   108      Ethiopia   0.02    0.07   0.66   0.71  3.61  111.40  1.57  54.98
1   109       Myanmar  11.31   40.03  21.87  23.49  4.94  152.44  0.89  31.17
2   110         Congo   2.39    8.46  13.02  13.99  4.35  134.23  0.40  14.01
3   111        Zambia   1.66    5.88   3.29   3.53  4.76  146.88  0.68  23.81
4   112      Cameroon   1.47    5.20   3.29   3.53  4.17  128.68  1.40  49.03
5   113    Madagascar   2.56    9.06   3.14   3.37  7.51  231.74  0.57  19.96
6   114        Malawi   5.45   19.29   1.38   1.48  2.35   72.52  2.07  72.49
7   115        Guinea   0.16    0.57   1.83   1.97  6.26  193.17  1.60  56.03
8   116       Nigeria   1.47    5.20   1.73   1.86  2.33   71.90  2.72  95.25
9   117        Rwanda   0.76    2.69   1.34   1.44  2.53   78.07  1.93  67.59
10  118   Philippines  18.40   65.13  11.91  12.79  4.06  125.28  0.56  19.61
11  119         Ghana   1.36    4.81   8.63   9.27  1.09   33.64  1.74  60.93
12  120          Togo   1.57    5.56   6.63   7.12  1.53   47.21  1.58  55.33
13  121        Gambia   0.18    0.64   2.66   2.86  2.16   66.65  0.71  24.86
14  122         India   0.28    0.99   1.88   2.02  0.81   24.99  0.58  20.31
15  123      Thailand  13.00   46.01  13.69  14.71  2.56   79.00  0.05   1.75
16  124    Mozambique   5.13   18.16   1.41   1.51  1.04   32.09  0.90  31.52
17  125      Cambodia   6.52   23.08   1.84   1.98  4.85  149.66  0.00   0.00
18  126  Sierra Leone   1.22    4.32   4.97   5.34  1.99   61.41  0.65  22.76
19  127     Sri Lanka   0.05    0.18   4.96   5.33  1.38   42.58  0.09   3.15
20  128     Indonesia   2.98   10.55   7.50   8.06  2.59   79.92  0.46  16.11
21  129       Liberia   4.01   14.19   8.91   9.57  0.78   24.07  0.48  16.81
22  130    Bangladesh   0.00    0.00   1.40   1.50  1.28   39.50  1.33  46.58

    ...  10.49   2.00  144.56  184.99  5.75  2.59  6.28  11.12  200.70  240.11
0   ...  31.26   5.96    2.25    2.88  0.45  0.20  1.21   2.14   11.18  219.56
1   ...   6.22   1.19  132.80  169.94  0.38  0.17  4.50   7.97  179.27  205.26
2   ...  40.07   7.64   16.51   21.13  0.00  0.00  3.08   5.45   34.22  194.11
3   ...  12.10   2.31    3.05    3.90  7.30  3.29  5.04   8.92   18.42  188.46
4   ...  22.60   4.31   23.85   30.52  0.64  0.29  9.29  16.44   51.56  180.49
5   ...   9.01   1.72  102.53  131.21  0.00  0.00  0.35   0.62  133.55  173.65
6   ...  11.77   2.24    4.75    6.08  1.76  0.79  5.08   8.99   18.10  171.74
7   ...  18.55   3.54   97.12  124.28  0.00  0.00  4.14   7.33  135.15  162.41
8   ...  20.82   3.97   28.23   36.13  2.60  1.17  6.93  12.27   53.54  160.71
9   ...  11.34   2.16    8.70   11.13  1.93  0.87  0.58   1.03   15.19  151.25
10  ...  23.12   4.41  119.44  152.85  0.03  0.01  2.08   3.68  160.95  133.38
11  ...  14.45   2.76   32.03   40.99  0.01  0.00  5.56   9.84   53.59  110.69
12  ...  12.91   2.46   25.99   33.26  0.01  0.00  3.59   6.35   42.07  103.95
13  ...  37.91   7.23   61.84   79.14  0.00  0.00  5.27   9.33   95.70  102.26
14  ...  60.56  11.55   69.49   88.93  0.39  0.18  1.92   3.40  104.06   74.50
15  ...  10.93   2.08  114.57  146.62  2.13  0.96  1.50   2.66  152.32   73.36
16  ...  14.65   2.79   23.41   29.96  0.03  0.01  2.61   4.62   37.38   66.64
17  ...   2.74   0.52  159.10  203.60  4.33  1.95  1.25   2.21  208.28   35.85
18  ...   8.72   1.66  103.30  132.19  0.00  0.00  5.57   9.86  143.71   12.99
19  ...  37.01   7.06  109.72  140.41  0.00  0.00  1.09   1.93  149.40   -4.34
20  ...  25.45   4.85  134.62  172.27  1.12  0.50  4.92   8.71  186.33   -5.15
21  ...  10.95   2.09   94.75  121.25  0.63  0.28  1.31   2.32  125.94  -48.50
22  ...  17.47   3.33  171.73  219.76  0.61  0.27  0.72   1.27  224.63  -75.08

[23 rows x 27 columns]]