In [63]:
import pandas as pd

In [64]:
F_product = pd.read_excel("Data base/Normalized_data.xlsx",sheet_name = "F_product")
F_category = pd.read_excel("Data base/Normalized_data.xlsx",sheet_name = "F_category")
D_product_category = pd.read_excel("Data base/Normalized_data.xlsx",sheet_name = "D_product_category")
D_product_processing = pd.read_excel("Data base/Normalized_data.xlsx",sheet_name = "D_product_food_emissions_proces")
D_product_animal_feed = pd.read_excel("Data base/Normalized_data.xlsx",sheet_name = "D_product_food_emissions_animal")
D_product_land_use = pd.read_excel("Data base/Normalized_data.xlsx",sheet_name = "D_product_food_emissions_land_u")
D_product_farm = pd.read_excel("Data base/Normalized_data.xlsx",sheet_name = "D_product_food_emissions_farm")
D_product_transport = pd.read_excel("Data base/Normalized_data.xlsx",sheet_name = "D_product_food_emissions_transp")
D_product_retail = pd.read_excel("Data base/Normalized_data.xlsx",sheet_name = "D_product_food_emissions_retail")
D_product_packaging = pd.read_excel("Data base/Normalized_data.xlsx",sheet_name = "D_product_food_emissions_packag")
D_product_CO2_equivalent = pd.read_excel("Data base/Normalized_data.xlsx",sheet_name = "D_product_food_emissions_CO2_eq")

In [66]:
M_product_m = pd.merge(D_product_category,D_product_processing,how="left",left_on="product",right_on="product")
M_product_m1  = pd.merge(M_product_m,D_product_animal_feed,how ="left",left_on="product",right_on="product")
M_product_m2 = pd.merge(M_product_m1,D_product_land_use,how ="left",left_on="product",right_on="product")
M_product_m3 = pd.merge(M_product_m2,D_product_farm,how ="left",left_on="product",right_on="product")
M_product_m4 = pd.merge(M_product_m3,D_product_transport,how ="left",left_on="product",right_on="product")
M_product_m5 = pd.merge(M_product_m4,D_product_retail,how ="left",left_on="product",right_on="product")
M_product_m6 = pd.merge(M_product_m5,D_product_packaging,how ="left",left_on="product",right_on="product")
M_product_list = pd.merge(M_product_m6,D_product_CO2_equivalent,how ="left",left_on="product",right_on="product")
M_product_list

,product,category,food_emissions_processing,animal_feed,land_use,farm,transport,retail,packaging,CO2_equivalent
0,Apple Juice 1L_glas,Drinks,0.016,0.0,0.08,0.244,0.004,0.004000,0.052,0.4
1,Apples_germany,Fruit,7.5e-18,0.0,0.042,0.093,0.0372,0.000000,1.83e-17,0.3
2,Apples_new_zealand,Fruit,2.0000000000000005e-17,0.0,0.112,0.248,0.0992,0.000000,4.880000000000001e-17,0.8
3,Apples,Fruit,0.0,0.0,0.0,0.2,0.1,0.000000,0.0,0.3
4,Avocado_peru,Fruit,2.0000000000000005e-17,0.0,0.112,0.248,0.0992,0.000000,4.880000000000001e-17,0.8
...,...,...,...,...,...,...,...,...,...,...
156,White cheese,Dairy,0.0887999999999999,0.296,0.6215999999999999,8056-01-01 00:00:00,0.0296,0.088800,0.0296,2.96
157,Wine,Drinks,0.1,0.0,-0.1,0.6,0.1,0.000000,0.7,2022-04-01 00:00:00
158,Wine 0.75L_seasonal_glas,Drinks,0.04,0.0,0.2,0.61,0.01,0.010000,0.13,1.0
159,Yoghurt_unprocessed,Dairy,1.7636684303350971,0.4850088183421517,1.0185185185185186,2.9585537918871254,0.0485008818342151,0.145503,0.0485008818342151,4.8500881834215175
160,Yoghurt,Dairy,0.072,0.24,0.504,1.464,0.024,0.072000,0.024,2022-04-02 00:00:00

In [67]:
M_product_list.to_csv("Normalized_data_cleared", index =False)